a {
    color: darkblue;
    text-decoration: none;
}
a:hover {
    color: blue;
}
.site-style {
    font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-variant: small-caps;
    display: flex;
    flex-direction: column;
    position: relative;
}
.button-call {
    background-color: limegreen;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    Z-index: 3;
    height: 100%;
    max-height: 76px;
    width: 100%;
    max-width: 76px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.whatsapp-button {
    background-color: limegreen;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    Z-index: 3;
    height: 100%;
    max-height: 76px;
    width: 100%;
    max-width: 76px;
    position: fixed;
    bottom: 120px;
    right: 30px;
}
.navigation {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1910px;
    height: 100px;
    justify-content: right;
    flex-direction: row;
    align-items: center;
    background-color: #f2f2f3;
    Z-index: 2;
    padding-right: 45px;
    list-style: none;
    text-indent: 45px;
    line-height: 30px;
    font-size: 25px;
}
.navigation:hover {
    list-style: none;
    text-indent: 45px;
    line-height: 30px;
    font-size: 25px;
}
.logo {
    display: flex;
    background-color: darkblue;
    padding: 0;
    border-radius: 0 0 150px 0;
    width: 100%;
    height: 140px;
    max-width: 750px;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}
.logo > a {
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.logo > a:hover {
    color: lightgray;
}
.logo > img {
    width: 100%;
    max-width: 200px;
    height: 100px;
}
.front {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1910px;
    height: 700px;
    background-image: url("https://myskillsconnect.com/uploads/posts/2023-08/1690856593_myskillsconnect-com-p-evakuator-stokovoe-foto-37.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    filter: brightness(40%);
    z-index: 1;
}
.front > p {
    line-height: 85px;
    font-size: 80px;
}
.front > span {
    line-height: 85px;
    font-size: 60px;
}
.description-dignities {
    width: 100%;
    max-width: 1910px;
    display: flex;
    background-color: aliceblue;
    justify-content: center;
}
.description-dignities > p {
    padding: 10px;
    font-size: 50px;
}
.dignities {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1910px;
    height: 500px;
    display: flex;;
    background-color: aliceblue;
    position: relative;
    z-index: 1;
}
.dignities > div {
    border-radius: 30px;
    background-color: lightblue;
    font-size: 35px;
    width: 100%;
    max-width: 400px;
    height: 450px;
    padding: 20px;
}
.way  {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.way > img {
    height: 90px;
    width: 100%;
    max-width: 90px;
}
.speed {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.low-prices {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.description-cost {
    width: 100%;
    max-width: 1910px;
    display: flex;
    background-color: white;
    justify-content: center;
}
.description-cost > p {
    padding: 10px;
    font-size: 50px;
}
.cost {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1910px;
    height: 375px;
    display: flex;
    background-color: white;
    z-index: 1;
}
.cost > div {
    border-radius: 30px;
    background-color: lightblue;
    font-size: 40px;
    width: 100%;
    max-width: 450px;
    height: 300px;
}
.cost-cars {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cost-cars-top {
    border-radius: 30px 30px 0 0;
    width: 100%;
    max-width: 450px;
    height: 200px;
}
.cost-cars-top > img {
    border-radius: 30px 30px 0 0;
}
.cost-cars-down {
    border-radius: 0 0 30px 30px;
    background-color: aliceblue;
    width: 100%;
    max-width: 450px;
    height: 100px;
}
.type-car {
    color: limegreen;
    font-size: 35px;
    padding: 8px;
}
.cost-car {
    display: flex;
    justify-content: flex-end;
    color: cadetblue;
    font-size: 30px;
    padding: 8px;
}
.cost-trucks {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cost-trucks-top {
    border-radius: 30px 30px 0 0;
    width: 100%;
    max-width: 450px;
    height: 200px;
}
.cost-trucks-top > img {
    border-radius: 30px 30px 0 0;
}
.cost-trucks-down {
    border-radius: 0 0 30px 30px;
    background-color: aliceblue;
    width: 100%;
    max-width: 450px;
    height: 100px;
}
.type-truck {
    color: limegreen;
    font-size: 35px;
    padding: 8px;
}
.cost-truck {
    display: flex;
    justify-content: flex-end;
    color: cadetblue;
    font-size: 30px;
    padding: 8px;
}
.description-reviews {
    display: flex;
    background-color: #181635;
    justify-content: center;
}
.description-reviews > p {
    color: white;
    padding: 10px;
    font-size: 50px;
}
.reviews {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    background-color: #181635;
    width: 100%;
    max-width: 1910px;
    height: 450px;
}
.reviews > div {
    border-radius: 30px;
    background-color: white;
    font-size: 35px;
    width: 100%;
    max-width: 300px;
    height: 430px;
    padding: 8px;
}
.review1 {
    flex-direction: column;
    border-radius: 30px;
    display: flex;
}
.review1 > img {
    border-radius: 100px;
    width: 100%;
    max-width: 120px;
    height: 120px;
}
.review2 {
    flex-direction: column;
    border-radius: 30px;
    display: flex;
}
.review2 > img {
    border-radius: 100px;
    width: 100%;
    max-width: 120px;
    height: 120px;
}
.review3 {
    flex-direction: column;
    border-radius: 30px;
    display: flex;
}
.review3 > img {
    border-radius: 100px;
    width: 100%;
    max-width: 120px;
    height: 120px;
}
.description-our-works {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    width: 100%;
    max-width: 1910px;
    font-size: 50px;
    padding: 10px;
}
.our-works {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    background-color: aliceblue;
    width: 100%;
    max-width: 1910px;
    height: 835px;
    z-index: 1;
}
.our-works > img {
    width: 100%;
    max-width: 450px;
    height: 290px;
    border-radius: 30px;
}
@media screen and (max-width: 590px) {
    .navigation {
        outline: none;
        text-decoration: none;
        display: flex;
        position: sticky;
        top: 0;
        width: 100%;
        max-width: 1910px;
        height: 100px;
        justify-content: flex-end;
        flex-direction: column;
        background-color: #f2f2f3;
        Z-index: 2;
    }
    .navigation {
        color: darkblue;
        list-style: none;
        text-indent: 45px;
        line-height: 30px;
        font-size: 25px;
    }

    .navigation:hover {
        color: blue;
        list-style: none;
        text-indent: 45px;
        line-height: 30px;
        font-size: 25px;
    }
}
@media screen and (max-width: 1024px)  {
    .description-dignities {
        width: 100%;
        max-width: 1910px;
        display: flex;
        background-color: aliceblue;
        justify-content: center;
    }
    .description-dignities > p {
        padding: 10px;
        font-size: 50px;
    }
    .dignities {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 1910px;
        height: 500px;
        display: flex;;
        background-color: aliceblue;
        position: relative;
        z-index: 1;
    }
    .dignities > div {
        border-radius: 30px;
        background-color: lightblue;
        font-size: 35px;
        width: 100%;
        max-width: 400px;
        height: 450px;
        padding: 20px;
    }
    .way  {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .way > img {
        height: 90px;
        width: 100%;
        max-width: 90px;
    }
    .speed {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .low-prices {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .description-cost {
        width: 100%;
        max-width: 1910px;
        display: flex;
        background-color: white;
        justify-content: center;
    }
    .description-cost > p {
        padding: 10px;
        font-size: 50px;
    }
    .cost {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 1910px;
        height: 375px;
        display: flex;
        background-color: white;
        z-index: 1;
    }
    .cost > div {
        border-radius: 30px;
        background-color: lightblue;
        font-size: 40px;
        width: 100%;
        max-width: 450px;
        height: 300px;
    }
    .cost-cars {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .cost-cars-top {
        border-radius: 30px 30px 0 0;
        width: 100%;
        max-width: 450px;
        height: 200px;
    }
    .cost-cars-top > img {
        width: 100%;
        max-width: 450px;
        height: 250px;
        border-radius: 30px 30px 0 0;
    }
    .cost-cars-down {
        border-radius: 0 0 30px 30px;
        background-color: aliceblue;
        width: 100%;
        max-width: 450px;
        height: 100px;
    }
    .type-car {
        color: limegreen;
        font-size: 35px;
        padding: 8px;
    }
    .cost-car {
        display: flex;
        justify-content: flex-end;
        color: cadetblue;
        font-size: 30px;
        padding: 8px;
    }
    .cost-trucks {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .cost-trucks-top {
        border-radius: 30px 30px 0 0;
        width: 100%;
        max-width: 450px;
        height: 200px;
    }
    .cost-trucks-top > img {
        width: 100%;
        max-width: 450px;
        height: 250px;
        border-radius: 30px 30px 0 0;
    }
    .cost-trucks-down {
        border-radius: 0 0 30px 30px;
        background-color: aliceblue;
        width: 100%;
        max-width: 450px;
        height: 100px;
    }
    .type-truck {
        color: limegreen;
        font-size: 35px;
        padding: 8px;
    }
    .cost-truck {
        display: flex;
        justify-content: flex-end;
        color: cadetblue;
        font-size: 30px;
        padding: 8px;
    }
    .description-reviews {
        display: flex;
        background-color: #181635;
        justify-content: center;
    }
    .description-reviews > p {
        color: white;
        padding: 10px;
        font-size: 50px;
    }
    .reviews {
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        display: flex;
        background-color: #181635;
        width: 100%;
        max-width: 1910px;
        height: 450px;
    }
    .reviews > div {
        border-radius: 30px;
        background-color: white;
        font-size: 35px;
        width: 100%;
        max-width: 300px;
        height: 430px;
        padding: 8px;
    }
    .review1 {
        flex-direction: column;
        border-radius: 30px;
        display: flex;
    }
    .review1 > img {
        border-radius: 100px;
        width: 100%;
        max-width: 120px;
        height: 120px;
    }
    .review2 {
        flex-direction: column;
        border-radius: 30px;
        display: flex;
    }
    .review2 > img {
        border-radius: 100px;
        width: 100%;
        max-width: 120px;
        height: 120px;
    }
    .review3 {
        flex-direction: column;
        border-radius: 30px;
        display: flex;
    }
    .review3 > img {
        border-radius: 100px;
        width: 100%;
        max-width: 120px;
        height: 120px;
    }
}