a {
    color: darkblue;
    text-decoration: none;
}
a:hover {
    color: blue;
}
h2 {
    padding: 10px;
    text-align: center;
    font-size: 50px;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.body {
    font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-variant: small-caps;
    display: flex;
    flex-direction: column;
    position: relative;
}
.buttons-box {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
}
.buttons-box .button {
    background-color: limegreen;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    height: 76px;
    width: 76px;
    margin: 10px 0;
}
.header  {
    display: flex;
    position: sticky;
    justify-content: right;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #f2f2f3;
}
.header .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 45px;
    list-style: none;
    text-indent: 45px;
    line-height: 30px;
    font-size: 25px;
}
.header .navigation li {
    display: block;
    margin: 0 20px;
    text-align: center;
}
.header .logo {
    display: flex;
    background-color: darkblue;
    padding: 0;
    border-radius: 0 0 150px 0;
    width: 100%;
    height: 140px;
    max-width: 750px;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    z-index: 3;
    left: 0;
    top: 0;
}
.header .logo > a {
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.header .logo > a:hover {
    color: lightgray;
}
.header .logo > img {
    width: 100%;
    max-width: 180px;
    max-height: 75px;
}
.section-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-main .background {
    background-image: url("../picture/section-main-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.section-main .background:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.section-main > h1 {
    line-height: 85px;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
}
.section-main > span {
    line-height: 85px;
    font-size: 100px;
    padding-top: 30px;
    font-weight: bold;
    text-align: center;
}
.section-main span a {
    color: lightblue;
}
.section-dignities {
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-dignities .items {
    display: flex;
    justify-content: left;
    align-items: stretch;
    flex-wrap: wrap;
}
.section-dignities .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.3333333%;
    padding: 20px;
    margin: 15px 1%;
    border-radius: 30px;
    background-color: lightblue;
    font-size: 35px;
}
.section-dignities .items .item > img {
    max-height: 90px;
    width: 100%;
    max-width: 90px;
}
.section-cost {
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-cost .items {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.section-cost .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.3333333%;
    margin: 15px 1%;
    border-radius: 30px;
    overflow: hidden;
    background-color: aliceblue;
    font-size: 30px;
}
.section-cost .items .item .photo {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-cost .items .item .info {
    width: 100%;
}
.section-cost .items .item .info .type {
    padding: 8px;
    color: limegreen;
    font-size: 35px;
}
.section-cost .items .item .info .cost {
    padding: 8px;
    color: cadetblue;
    font-size: 35px;
    text-align: right;
}
.section-reviews {
    background-color: #181635;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-reviews .items {
    display: flex;
    justify-content: left;
    align-items: stretch;
    flex-wrap: wrap;
}
.section-reviews .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.3333333%;
    padding: 20px;
    margin: 15px 1%;
    border-radius: 30px;
    background-color: white;
    font-size: 35px;
}
.section-reviews .items .item > img {
    border-radius: 100px;
    width: 45%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-our-works {
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-our-works .items {
    display: flex;
    justify-content: left;
    align-items: stretch;
    flex-wrap: wrap;
}
.section-our-works .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.3333333%;
    padding: 20px;
    margin: 15px 1%;
    border-radius: 30px;
    background-color: white;
    font-size: 35px;
}
.section-our-works .items .item > img {
    border-radius: 30px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 1024px) {
    .header {
        align-items: center;
        flex-direction: column;
        height: 200px;
    }
    .header .logo {
        position: relative;
        border-radius: 0;
        width: 100%;
        max-width: none;
    }
    .header .navigation {
        padding-top: 15px;
        font-size: 35px;
    }
}
@media (max-width:768px) {
    .container {
        max-width: 500px;
    }
    .header {
        position: relative;
        height: auto;
    }
    .header .navigation {
        flex-direction: column;
        width: 100%;
        font-size: 30px;
        padding: 0;
    }
    .header .navigation li a {
        display: inline-block;
        width: 100%;
        padding: 5px 0;
    }
    .header .logo {
        text-align: center;
    }
    .header .logo > img {
        max-width: 200px;
    }
    .section-main > h1 {
        font-size: 60px;
        padding: 6px;
    }
    .section-main > span {
        padding: 6px;
        font-size: 64px;
    }
    .section-dignities .items .item {
        width: 100%;
    }
    .section-cost .items .item {
        width: 100%;
    }
    .section-reviews .items .item {
        width: 100%;
    }
    .section-our-works .items .item {
        width: 100%;
    }
}
@media (max-width: 425px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }
    .header .navigation {
        font-size: 30px;
    }
    .header .logo > a {
        font-size: 35px;
    }
    .header .logo > img {
        max-width: 100px;
    }
    .section-main > h1 {
        font-size: 45px;
    }
    .section-main > span {
        font-size: 47px;
    }
}
@media (max-width: 375px) {
    .header .navigation {
        font-size: 25px;
    }
    .header .logo > a {
        font-size: 30px;
    }
}
@media (max-width: 320px) {
    .section-main > h1 {
        font-size: 35px;
    }
    .section-main > span {
        font-size: 37px;
    }
}
@media (max-width: 280px) {
    .header .navigation {
        font-size: 20px;
    }
    .header .logo > a {
        font-size: 25px;
    }
    .section-main > h1 {
        font-size: 39px;
    }
    .section-main > span {
        font-size: 29px;
    }
}